<style>
P  {
	
	margin-top : 6pixels;
	margin-bottom : 6pixels;
    padding-top: 25px;
	font-size : %font_size%pt;
}

BODY  {
	
	font-size : %font_size%pt;
        line-height: %line_height%px;

scrollbar-face-color: #ffffff; scrollbar-shadow-color: #849CBD; 
scrollbar-highlight-color: #849CBD; scrollbar-3dlight-color: #849CBD; 
scrollbar-darkshadow-color: #849CBD; scrollbar-track-color: #ffffff;
scrollbar-arrow-color: #849CBD
}


td  {
	
	font-size : 9pt;
}

A {
	TEXT-DECORATION: none;color: #000000
}

A:hover {
	BACKGROUND-COLOR: #F8EFC7; COLOR: #000000; TEXT-DECORATION: none
}

a:visited {  color: #000000}

input  {
	font-size : 9pt;
	}

hr  {
	color : #000000;
}

select  {
	font-size : 9pt;
	
}

h2  {
	font-weight : bold;
	font-size : 12pt;
	
}

h4  {
	font-size : 10pt;
	font-weight : bold;
	
}
</style>
